
<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="assets/css/elementui.css">
        <title>Login</title>

</head>

<body>
        <div id="app">
                <div>
                        <h3 class="panel-title"> Please enter your login details</h3>
                </div>
                <div>
                        <label>username</label>
                        <el-input v-model="loginname" placeholder="Username"></el-input>
                        <label>password</label>
                        <el-input v-model="password" type="password" placeholder="Password"></el-input>

                </div>

                <div style="text-align: left;">
                        <el-button type="primary" round @click="handleLoginClick">login</el-button>
                </div>
        </div>
        <script src="assets/js/axios.min.js"></script>
        <script src="assets/js/vue.js"></script>
        <script src="assets/js/elementui.js"></script>
        <script src="viewmodels/login.js"></script>

</body>

</html>