<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuce.minhang_area.dao.TradeDataMapper">
  <resultMap id="BaseResultMap" type="com.fuce.minhang_area.pojo.TradeData">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="areaId" jdbcType="INTEGER" property="areaid" />
    <result column="avgPrice" jdbcType="DOUBLE" property="avgprice" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="dateTime" jdbcType="TIMESTAMP" property="datetime" />
    <result column="flg" jdbcType="INTEGER" property="flg" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="mids" jdbcType="INTEGER" property="mids" />
    <result column="sales" jdbcType="DOUBLE" property="sales" />
    <result column="salesNums" jdbcType="INTEGER" property="salesnums" />
    <result column="tradeCode" jdbcType="VARCHAR" property="tradecode" />
    <result column="tradeId" jdbcType="INTEGER" property="tradeid" />
    <result column="tradeName" jdbcType="VARCHAR" property="tradename" />
    <result column="mcc" jdbcType="VARCHAR" property="mcc" />
  </resultMap>

  <sql id="Base_Column_List">
    id, areaId, avgPrice, createTime, dateTime, flg, industry, mids, sales, salesNums, 
    tradeCode, tradeId, tradeName, mcc
  </sql>
<!--  deleteByPrimaryKey-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from trade_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
<!--  selectWithPage-->
  <select id="selectWithPage"  resultMap="BaseResultMap">
    SELECT td.id, td.areaId, a.areaName, td.tradeId, td.tradeCode, td.tradeName, td.dateTime,
  td.industry, td.sales, td.salesNums, td.mids, td.avgPrice, td.flg, td.createTime, td.mcc
  FROM trade_data td, area a
  </select>
<!--  getAll-->
  <select id="getAll"  resultMap="BaseResultMap">
 SELECT td.id, td.areaId, a.areaName, td.tradeId, td.tradeCode, td.tradeName, td.dateTime,
  td.industry, td.sales, td.salesNums, td.mids, td.avgPrice, td.flg, td.createTime, td.mcc
  FROM trade_data td, area a
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from trade_data
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="com.fuce.minhang_area.pojo.TradeData">
    insert into trade_data (id, areaId, avgPrice, 
      createTime, dateTime, flg, 
      industry, mids, sales, 
      salesNums, tradeCode, tradeId, 
      tradeName, mcc)
    values (#{id,jdbcType=INTEGER}, #{areaid,jdbcType=INTEGER}, #{avgprice,jdbcType=DOUBLE}, 
      #{createtime,jdbcType=TIMESTAMP}, #{datetime,jdbcType=TIMESTAMP}, #{flg,jdbcType=INTEGER}, 
      #{industry,jdbcType=VARCHAR}, #{mids,jdbcType=INTEGER}, #{sales,jdbcType=DOUBLE}, 
      #{salesnums,jdbcType=INTEGER}, #{tradecode,jdbcType=VARCHAR}, #{tradeid,jdbcType=INTEGER}, 
      #{tradename,jdbcType=VARCHAR}, #{mcc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fuce.minhang_area.pojo.TradeData">
    insert into trade_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="areaid != null">
        areaId,
      </if>
      <if test="avgprice != null">
        avgPrice,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="datetime != null">
        dateTime,
      </if>
      <if test="flg != null">
        flg,
      </if>
      <if test="industry != null">
        industry,
      </if>
      <if test="mids != null">
        mids,
      </if>
      <if test="sales != null">
        sales,
      </if>
      <if test="salesnums != null">
        salesNums,
      </if>
      <if test="tradecode != null">
        tradeCode,
      </if>
      <if test="tradeid != null">
        tradeId,
      </if>
      <if test="tradename != null">
        tradeName,
      </if>
      <if test="mcc != null">
        mcc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="areaid != null">
        #{areaid,jdbcType=INTEGER},
      </if>
      <if test="avgprice != null">
        #{avgprice,jdbcType=DOUBLE},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="datetime != null">
        #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="flg != null">
        #{flg,jdbcType=INTEGER},
      </if>
      <if test="industry != null">
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="mids != null">
        #{mids,jdbcType=INTEGER},
      </if>
      <if test="sales != null">
        #{sales,jdbcType=DOUBLE},
      </if>
      <if test="salesnums != null">
        #{salesnums,jdbcType=INTEGER},
      </if>
      <if test="tradecode != null">
        #{tradecode,jdbcType=VARCHAR},
      </if>
      <if test="tradeid != null">
        #{tradeid,jdbcType=INTEGER},
      </if>
      <if test="tradename != null">
        #{tradename,jdbcType=VARCHAR},
      </if>
      <if test="mcc != null">
        #{mcc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fuce.minhang_area.pojo.TradeData">
    update trade_data
    <set>
      <if test="areaid != null">
        areaId = #{areaid,jdbcType=INTEGER},
      </if>
      <if test="avgprice != null">
        avgPrice = #{avgprice,jdbcType=DOUBLE},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="datetime != null">
        dateTime = #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="flg != null">
        flg = #{flg,jdbcType=INTEGER},
      </if>
      <if test="industry != null">
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="mids != null">
        mids = #{mids,jdbcType=INTEGER},
      </if>
      <if test="sales != null">
        sales = #{sales,jdbcType=DOUBLE},
      </if>
      <if test="salesnums != null">
        salesNums = #{salesnums,jdbcType=INTEGER},
      </if>
      <if test="tradecode != null">
        tradeCode = #{tradecode,jdbcType=VARCHAR},
      </if>
      <if test="tradeid != null">
        tradeId = #{tradeid,jdbcType=INTEGER},
      </if>
      <if test="tradename != null">
        tradeName = #{tradename,jdbcType=VARCHAR},
      </if>
      <if test="mcc != null">
        mcc = #{mcc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fuce.minhang_area.pojo.TradeData">
    update trade_data
    set areaId = #{areaid,jdbcType=INTEGER},
      avgPrice = #{avgprice,jdbcType=DOUBLE},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      dateTime = #{datetime,jdbcType=TIMESTAMP},
      flg = #{flg,jdbcType=INTEGER},
      industry = #{industry,jdbcType=VARCHAR},
      mids = #{mids,jdbcType=INTEGER},
      sales = #{sales,jdbcType=DOUBLE},
      salesNums = #{salesnums,jdbcType=INTEGER},
      tradeCode = #{tradecode,jdbcType=VARCHAR},
      tradeId = #{tradeid,jdbcType=INTEGER},
      tradeName = #{tradename,jdbcType=VARCHAR},
      mcc = #{mcc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>