<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuce.minhang_area.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.fuce.minhang_area.pojo.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="areaId" jdbcType="INTEGER" property="areaid" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="loginName" jdbcType="VARCHAR" property="loginname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="role" jdbcType="INTEGER" property="role" />
  </resultMap>
  <sql id="Base_Column_List">
    id, areaId, description, loginName, password, role
  </sql>
<!--  deleteByPrimaryKey-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
<!--  getByLoginname-->
  <select id="getByLoginname"  parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where loginname = #{loginname}
  </select>

<!--  updateByPrimaryKey-->
  <update id="updateByPrimaryKey" parameterType="com.fuce.minhang_area.pojo.User">
    update user
    set areaId = #{areaid,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      loginName = #{loginname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      role = #{role,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
<!--insert-->
  <insert id="insert" parameterType="com.fuce.minhang_area.pojo.User" keyProperty="id" useGeneratedKeys="true">
    insert into user (areaId, description,
      loginName, password, role
      )
    values (#{areaid,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR},
      #{loginname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{role,jdbcType=INTEGER}
      )
  </insert>
<!--  selectWithPage-->
  <select id="selectWithPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
  </select>
<!--  getById-->
  <select id="getById"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insertSelective" parameterType="com.fuce.minhang_area.pojo.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="areaid != null">
        areaId,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="loginname != null">
        loginName,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="role != null">
        role,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="areaid != null">
        #{areaid,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="loginname != null">
        #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        #{role,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fuce.minhang_area.pojo.User">
    update user
    <set>
      <if test="areaid != null">
        areaId = #{areaid,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="loginname != null">
        loginName = #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        role = #{role,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>